<h1>Manage Users</h1>
<ul>
    <li>
        <hr/>
        <span><b>UserID:</b> w48538et</span> | <span><b>Username:</b> someguy</span> |
        <span><b>Permission Level:</b> 3</span> |
        <button class="btn btn-primary">Update User</button> <button class="btn btn-danger">Delete User</button>
        <hr/>
    </li>
    <li>
        <span><b>UserID:</b> w485r453et</span> | <span><b>Username:</b> anotherguy22</span> |
        <span><b>Permission Level:</b> 3</span> |
        <button class="btn btn-primary">Update User</button> <button class="btn btn-danger">Delete User</button>
        <hr/>
    </li>
    <li>
        <span><b>UserID:</b> 765538et</span> | <span><b>Username:</b> someguy5</span> |
        <span><b>Permission Level:</b> 1</span> |
        <button class="btn btn-primary">Update User</button> <button class="btn btn-danger">Delete User</button>
        <hr/>
    </li>
    <li>
        <span><b>UserID:</b> 6f4534338et</span> | <span><b>Username:</b> someguy8</span> |
        <span><b>Permission Level:</b> 5</span> |
        <button class="btn btn-primary">Update User</button> <button class="btn btn-danger">Delete User</button>
        <hr/>
    </li>
</ul>